<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MediaTek86.Properties.Settings.gestionpersConnectionString"
            connectionString="server=localhost;user id=gestionpers;password=motdepasseuser;persistsecurityinfo=True;database=gestionpers"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>